/* Fixes for Sunburst and http://dev.plone.org/plone/ticket/11840  */
#portletPageColumns .one {
  float: left;
  width: 100%;
}
#portletPageColumns .two {
  float: left;
  width: 50%;
}
#portletPageColumns .three {
  float: left;
  width: 33%;
}
#portletPageColumns .four {
  float: left;
  width: 25%;
}

.four-column-section, .middle-column-section {
  width: 100%;
  display: inline-block;
}
