/* Fixes for Sunburst and http://dev.plone.org/plone/ticket/11840  */
#portletPageColumns dd.portletItem,
#portletPageColumns dd.portletFooter {
  margin: 0;
}

.four-column-section {
  display: inline-block;
}
.four-column-section #portletPageFirstColumn, .four-column-section #portletPageSecondColumn, .four-column-section #portletPageThirdColumn, .four-column-section #portletPageFourthColumn {
  width: 25%;
  float: left;
}

.middle-column-section {
  display: inline-block;
}
.middle-column-section #portletPageMiddleFirst, .middle-column-section #portletPageMiddleSecond {
  width: 50%;
  float: left;
}
